{% extends "layout.html " %}
{% block content %}

<main>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>施設名</th>
          <th>住所</th>
          <th>アクセス</th>
          <th>電話番号</th>
        </tr>
      </thead>
      <tbody>
        {% for elem in list %}
        <tr>
          <td>{{ elem[1] }}</td>
          <td>{{ elem[2] }}</td>
          <td>{{ elem[4] }}</td>
          <td>{{ elem[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}