<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel=stylesheet href="../static/css/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <title>SSM</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="">SupportSingleMother</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="">LOGIN</a></li>
                <li><a href="">REGISTER</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer_logo">©︎Hackathon Team nature 2023</div>
    </footer>
</body>
</html>
