<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel=stylesheet href="../static/css/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <title>SSM</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">SupportSingleMother</a>
        </div>

        <div class="user_info">
            <a>ようこそ&nbsp;<span style="font-size: 24px;">{{username}}</span>&nbsp;様</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="/chat">掲示板</a></li>
                <li><a href="/login">ログイン</a></li>
                <li><a href="/logout">ログアウト</a></li>
                <li><a href="/register">登録</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer_logo">©︎Hackathon Team nature 2023</div>
    </footer>
</body>
</html>
