<!DOCTYPE html>
{% extends "layout.html " %}
{% block content %}
<html>

<head>
  <title>Register Page</title>
</head>

<body>
  <style>
    body {
      background-color: rgb(255, 255, 255);
      color: black;
    }
  </style>
  <!DOCTYPE html>
  <html>

  <head>
    <style>
      .register-form {
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 20px;
      }
    </style>
    <h1>ログイン</h1>
    <div class="register-form">
      <form method="post" action="{{ url_for('register') }}">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
      </form>
    </div>
</body>

</html>
{% endblock %}