@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat;
  color: black;
  background-color: #FFF5E1;
  display: flex;
  flex-flow: column;
  
}

/* *********************************
headerの設定
*********************************** */
header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-color: #749B71;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.logo {
  font-size: 30px;
}

header nav {
  margin: 0 0 0 auto;
  font-size: 15px;
}

header nav li{
  transition: all  0.2s ease;
}

header nav li:hover{
  background-color: rgb(147, 175, 226);
  transition: all  0.2s ease;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

header a {
  color: #ffffff;
  font-weight: bold;
}

/* *********************************　
mainの設定
*********************************** */
main {
  padding-top: 60px;
  text-align: center;
  width: 100%;
  min-height: calc(100vh - 50px);
  top: 0;
}

.text-box{
  width: 300px;
  height: 50px;
  font-size: 20px;
  transition: all  0.2s ease;
}

.text-box:focus{
  width: 400px;
}

.input_field [type="number"] {
  border: none;
  outline: none;
}

/* 「click」ボタンのスタイル */
.button{
  text-align: center;
  margin: 10px auto;
  padding: 1px;
  width: 150px;
  font-size: 20px;
  color: black;
  background-color: rgb(243, 214, 150);
  border-radius: 30vh;
  transition: all  0.4s ease;
}

.button:hover {
  background-color: rgb(250, 200, 63);
  transition: all  0.4s ease;
}


#result {
  font-weight: bold;
  color: rgb(246, 123, 123);
  font-size: 24px;
}

/* table1の設定 */
.table1-box {
  position: relative;
  width: 600px;
  height:200px;
  left:50px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  background: white;

  margin-top: 25px;
  margin-left: 80px;
  padding: 10px;
  float:left;
  width:40%;
}

.name {
  position: absolute;
  top: 5px;
  width: 640px;
  height: 25px;

  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  
  color: #000000;
}

.address {
  position: absolute;
  top: 50px;
  width: 640px;
  height: 30px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #757575;
}

.access {
  position: absolute;
  top: 100px;
  width: 640px;
  height: 30px;
}

.tel1 {
  position: absolute;
  top: 150px;
  width: 640px;
  height: 30px;
}

/* table2の設定 */
.table2-box {
  position: relative;
  width: 600px;
  height:250px;
  left:50px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  background: white;

  margin-top: 25px;
  margin-left: 80px;
  padding: 10px;
  float:left;
  width:40%;
}

.event {
  position: absolute;
  top: 5px;
  width: 640px;
  height: 25px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  
  color: #000000;
}

.organization {
  position: absolute;
  top: 80px;
  width: 640px;
  height: 30px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #757575;
}

.location {
  position: absolute;
  top: 100px;
  width: 640px;
  height: 80px;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.genre {
  position: absolute;
  top: 190px;
  width: 640px;
  height: 30px;
}

.tel2 {
  position: absolute;
  top: 210px;
  width: 640px;
  height: 30px;
}

/* *********************************　
footerの設定
*********************************** */
footer {
  width: 100%;
  /* 幅いっぱいを指定 */
  height: 50px;
  /* 高さを指定 */
  background-color: #749B71;
  text-align: end or right;
}

.footer_logo {
  line-height: 50px;
}