{% extends "layout.html " %}
{% block content %}
<style>
    .fixed-input {
      position: fixed;  /* 要素を固定位置にする */
      bottom: 0;        /* 要素を画面の下部に固定する */
      width: 100%;      /* 要素の幅を100%にする */
      padding: 10px;    /* 要素内部の余白を設定する */
      size: 30px;
      background-color: #979797; /* 背景色を設定する */
      border-top: 1px solid #1b2533; /* 上部の境界線を設定する */
    }
    .fixed-input input {
      width: 97%;      /* 入力フィールドの幅を100%にする */
      height: 50px;
      border: none;
      text-align: left;
      font-size: 20px;
    }

    .fixed-input button {
      background-color: #0C819A;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      margin-left: 5px;
      cursor: pointer;
      font-size: 20px;
    }

    .post{
      text-align: left;
    }

    h2{
      margin-left: 25px;
      margin-bottom: 5px;
      font-size: 20px;
      color: #757575;
    }
    .post-content{
      border-radius: 5px 5px 5px 5px;
      margin-top: 5px;
      margin-left: 45px;
      margin-right: 25px;
      margin-bottom: 35px;
      background: white;
      font-size: 25px;
    }
  </style>

<main>
  <h1>{{ board_name }}</h1>
  <div class="fixed-input">
    <form method="POST" action="{{route}}">
      <input type="text" name = "content" placeholder="メッセージを入力してください">
      <br>
      <button>送信</button>
    </form>
  </div>

  {% for post in posts %}
  <div class = 'post'>
  <h2>{{post['author']}} &nbsp;{{post['date']}}</h2>
  <p class="post-content">{{ post['content'] }}</p>
  {% endfor %}
  </div>
</main>
{% endblock %}