{% extends "layout.html " %}
{% block content %}
<style>
  .table {
    display: none;
  }

  .table:target {
    display: block;
  }

  .tab {
    display: flex;
    margin: auto;
    color: aliceblue;
    font-size: 24px;
  }


</style>

<main>
  <div class="tab">
    <a href="#tab1">児童会館</a>
    <a href="#tab2">イベント</a>
    <a href="#tab3">条件指定</a>
  </div>

  <div id="tab1" class="table">
    {% for elem in table1 %}
    <div class="table1-box">
          <p class="name">{{ elem[1] }}</p>
          <p class="address">{{ elem[2] }}</p>
          <p class="access">{{ elem[4] }}</p>
          <p class="tel1">{{ elem[5] }}</p>
    </div>
    {% endfor %}
</div>

<div id="tab2" class="table">
  {% for elem in table2 %}
  <div class="table2-box">
    <p class="event">{{ elem[1] }}</p>
    <p class="organization">{{ elem[2] }}</p>
    <p class="location">{{ elem[3] }}</p>
    <p class="genre">{{ elem[4] }}</p>
    <p class="tel2">{{ elem[5] }}</p>
  </div>
  {% endfor %}
</div>

  <div id="tab3" class="table">
    <h1>条件を選択してください</h1>

    <div class="register-form">
      <form method="post" action="/">
        <label for="gender" style="font-size: 24px;">ジャンル:</label>
        <br>
        <input type="radio" name="genre" id="hinkon" value="貧困・人権" required>
        <label for="hinkon">貧困・人権</label>
        <input type="radio" name="genre" id="chiiki" value="地域活性化・まちづくり" required>
        <label for="chiiki">地域活性化・まちづくり</label>
        <input type="radio" name="genre" id="sport" value="スポーツ・アート・文化" required>
        <label for="sport">スポーツ・アート・文化</label>
        <input type="radio" name="genre" id="kankyo" value="環境・農業" required>
        <label for="kankyo">環境・農業</label>
        <input type="radio" name="genre" id="edu" value="教育" required>
        <label for="edu">教育</label>
        <input type="radio" name="genre" id="fukushi" value="福祉・障がい・高齢者" required>
        <label for="fukushi">福祉・障がい・高齢者</label>
        <input type="radio" name="genre" id="shinsai" value="震災・災害" required>
        <label for="shinsai">震災・災害</label>
        <input type="radio" name="genre" id="other" value="その他" required>
        <label for="other">その他</label>
        <button type="submit">検索</button>
      </form>
    </div>

  <div id="tab3" class="table">
    <h1>条件を選択してください</h1>

    <div class="register-form">
      <form method="post" action="/">
        <label for="gender" style="font-size: 24px;">ジャンル:</label>
        <br>
        <input type="radio" name="genre" id="hinkon" value="貧困・人権" required>
        <label for="hinkon">貧困・人権</label>
        <input type="radio" name="genre" id="chiiki" value="地域活性化・まちづくり" required>
        <label for="chiiki">地域活性化・まちづくり</label>
        <input type="radio" name="genre" id="sport" value="スポーツ・アート・文化" required>
        <label for="sport">スポーツ・アート・文化</label>
        <input type="radio" name="genre" id="kankyo" value="環境・農業" required>
        <label for="kankyo">環境・農業</label>
        <input type="radio" name="genre" id="edu" value="教育" required>
        <label for="edu">教育</label>
        <input type="radio" name="genre" id="fukushi" value="福祉・障がい・高齢者" required>
        <label for="fukushi">福祉・障がい・高齢者</label>
        <input type="radio" name="genre" id="shinsai" value="震災・災害" required>
        <label for="shinsai">震災・災害</label>
        <input type="radio" name="genre" id="other" value="その他" required>
        <label for="other">その他</label>
        <button type="submit">検索</button>
      </form>
    </div>

</main>
{% endblock %}
</main>
{% endblock %}