{% extends "layout.html " %}
{% block content %}

<style>
  .table {
    display: none;
    margin: auto;
  }

  .table:target {
    display: block;
  }

  .tab {
    display: flex;
    margin: auto;
    color: aliceblue;
    font-size: 24px;
  }

  .condition {
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .condition form{
    width: 700px;
    height: 300px;
    margin: 50px;
    background-color: rgb(147, 172, 151);
  }

  .condition label{
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .select_dist p{
    font-size: 24px;
  }

  .select_dist span{
    font-size: 30px;
  }

  input[type="range"] {
  -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 20px; /* バーの高さ */
  width: 80%; /* バーの幅 */
  background: rgb(124, 143, 127); /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 3px #dff1ff; /* バー周囲の線 */
}

.tab a{
  background-color: #566d55;
  margin: 10px;
  border-radius: 10px;
}
.tab a:visited{color: #ffffff;}
.table a{color: #000000;}
.table a:visited{color: #000000;}
.table a{
  line-height: 30px;
  transition: 0.3s;
}
.table a:hover{
  background-color: #e2f3e1;
}
</style>

<main>
  <div class="tab">
    <a href="#tab1">児童会館</a>
    <a href="#tab2">イベント</a>
    <a href="#tab3">条件指定</a>
  </div>

  <div id="tab1" class="table">
    {% for elem in table1 %}
    <div class="table1-box">
      <p class="name">{{ elem[1] }}</p>
      <p class="address">{{ elem[2] }}</p>
      <p class="access">{{ elem[4] }}</p>
      <p class="tel1">{{ elem[5] }}</p>
    </div>
    {% endfor %}
  </div>

  <div id="tab2" class="table">
    {% for elem in table2 %}
    <div class="table2-box">
      <p class="event"><a href ="{{elem[7]}}">{{ elem[1] }}</a></p>
      <p class="organization">{{ elem[2] }}</p>
      <p class="location">{{ elem[3] }}</p>
      <p class="date">{{ elem[4] }}</p>
      <p class="genre">{{ elem[5] }}</p>
      <p class="tel2">{{ elem[6] }}</p>
    </div>
    {% endfor %}
  </div>

  <div id="tab3" class="table">
    <h1>条件を選択してください</h1>

    <div class="condition">
      <form method="post" action="/search_genre" class="select_genre">
        <h1>ジャンル</h1>
        <br>
        <input type="radio" name="genre" id="hinkon" value="貧困・人権" required>
        <label for="hinkon">貧困・人権</label>
        <input type="radio" name="genre" id="chiiki" value="地域活性化・まちづくり" required>
        <label for="chiiki">地域活性化・まちづくり</label>
        <input type="radio" name="genre" id="sport" value="スポーツ・アート・文化" required>
        <label for="sport">スポーツ・アート・文化</label>
        <br>
        <input type="radio" name="genre" id="kankyo" value="環境・農業" required>
        <label for="kankyo">環境・農業</label>
        
        <input type="radio" name="genre" id="edu" value="教育" required>
        <label for="edu">教育</label>
        <input type="radio" name="genre" id="fukushi" value="福祉・障がい・高齢者" required>
        <label for="fukushi">福祉・障がい・高齢者</label>
        <br>
        <input type="radio" name="genre" id="shinsai" value="震災・災害" required>
        <label for="shinsai">震災・災害</label>
        <input type="radio" name="genre" id="other" value="その他" required>
        <label for="other">その他</label>
        <br><br>
        <button type="submit">検索</button>
      </form>

      <form method="post" action="/search_dist" class="select_dist">
        <h1>距離</h1>
        <br>
        <input type="range" name='dist' id="dist" min="1" max="50" step="1">
        <p>現在地から<span id="current-value"></span>km</p>
        <button type="submit">検索</button>
      </form>
    </div>
</main>

<script>
  const inputElem = document.getElementById('dist'); // input要素
  const currentValueElem = document.getElementById('current-value'); // 埋め込む先のspan要素

  // 現在の値をspanに埋め込む関数
  const setCurrentValue = (val) => {
    currentValueElem.innerText = val;
  }

  // inputイベント時に値をセットする関数
  const rangeOnChange = (e) => {
    setCurrentValue(e.target.value);
  }

  window.onload = () => {
    inputElem.addEventListener('input', rangeOnChange); // スライダー変化時にイベントを発火
    setCurrentValue(inputElem.value); // ページ読み込み時に値をセット
  }
</script>

{% endblock %}