<!DOCTYPE html>
{% extends "layout.html " %}
{% block content %}

<main>
  <head>
    <style>
      .login-form {
        text-align: right;
        margin: 100px;
        width: 50%;
        padding: 20px;
      }
      .buttons{
        display: flex;
        align-items: right;
        justify-content: center;
        padding-left: 75%;
      }

      button{
        margin-left: 19%;
      }

    </style>
    <h1>ログイン</h1>
    <div class="login-form">
      <form method="post" action="{{ url_for('login') }}">
        <label for="username">名前:</label>
        <input type="text" name="username" placeholder="Username" required>
        <br><br>
        <label for="password">パスワード:</label>
        <input type="password" name="password" placeholder="Password" required>
        <br><br>
        <div class = "buttons">
        <button type="button" onclick="location.href='/register'">新規登録</button>
        <button type="submit">ログイン</button>
        </div>
      </form>
    </div>
</main>

</html>
{% endblock %}